html,body{
	font-size : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
	background-color : #ffffff;
}

#wrapper{
	width: 100%;
	overflow: auto;
	position: relative;
	min-width : 680px;
	min-height: 100%;
}
/* 繝舌ャ繧ｿ繝ｼ繧｢繧､繧ｳ繝ｳ */
#batter_icon{
	position : absolute;
	left : -100px;
	top : -100px;
}

/* 繧ｲ繝ｼ繝�隱ｬ譏� */
#game_about{
	display : none;
	z-index : 99;
	position : absolute;
	width : 480px;
	left : 50%;
	top : 14%;
	padding : 10px;
	margin-left : -240px;
	background-color : #EEE;
	border : 1px solid #666;
	border-radius : 4px 4px;
	border-bottom : 4px solid #666;
	cursor : pointer;
}

.about_caption{
	margin : 10px;
	font-size : 120%;
	font-weight : bold;
}

.about_paragraph{
	margin : 20px;
}

.about_others{
	font-size : 90%;
	color : #AAA;
	margin : 20px;
}

#game_about a{
	color : #000;
	text-decoration : none;
}
#game_about a:hover{
	color : #0C0;
	text-decoration : none;
}

/* 繧ｷ繝ｧ繝�� */
#shop_window{
	display : none;
	z-index : 98;
	position : absolute;
	width : 500px;
	left : 50%;
	top : 15%;
	padding : 10px;
	margin-left : -250px;
	background-color : #EEE;
	border : 1px solid #666;
	border-radius : 4px 4px;
	border-bottom : 4px solid #666;
}

#shop_sell_list{
	
}

#shop_inventory{
	overflow-y : auto;
	height : 130px;
	background-color : #FFF;
	border : 1px solid #DDD;
	border-radius : 4px 4px;
	margin-bottom : 20px;
}

/* 驕ｸ謇句句挨諠��ｱ */
#member_info_popup{
	z-index : 97;
	padding :5px;
	position : absolute;
	left : -1000px;
	top  : -1000px;
	background-color : #FF9;
	border : 1px solid #666;
	border-radius : 4px 4px;
	border-bottom : 4px solid #666;
}

/* 繧ｲ繝ｼ繝�邨先棡 */
#game_result{
	display : none;
	z-index : 100;
	position : absolute;
	text-align : center;
	width : 400px;
	left : 50%;
	top : 20%;
	margin-left : -200px;
	background-color : #EEE;
	border : 1px solid #666;
	border-radius : 4px 4px;
	border-bottom : 4px solid #666;
}

#game_result_score{
	color : #555;
	font-size : 300%;
	padding : 40px 0px;
}

#game_result_button{
	padding-bottom : 40px;
}

/* 繝倥ャ繝 */
#header{
	position : relative;
	width : 95%;
	margin : 5px auto 10px;
	padding : 30px 10px 10px 20px;
	color : #FFF;
	background-color:#333;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	border-radius: 4px 4px;
}

#caption{
	font-size : 180%;
}

#menu{
	margin-left : 20px;
	white-space : nowrap;
}

#coin{
	display : inline-block;
	vertical-align : bottom;
	padding : 4px 10px;
}

#btn_config{
	position : absolute;
	right : 6px;
	top : 30px;
}

#explain{
	position : absolute;
	left : 6px;
	top :6px;
	color : #999;
	font-size : 90%;
}

#lang{
	position : absolute;
	right : 6px;
	top :6px;
	text-decoration : none;
	color : #FFF;
}

#config{
	display : none;
	text-align : right;
	border-top : 1px solid #666;
	margin-top : 5px;
}

.config_item{
	display : inline-block;
	padding : 2px;
	vertical-align : top;
	border-left : 1px solid #666;
	text-align : left;
	white-space : nowrap;
}

.config_caption{
	padding : 2px;
	color : #CCC;
	background-color:#444;
}

#config input,select{
	vertical-align: -2px;
}

/* 繝｡繧､繝ｳ */
#main{
	display : table;
	width : 95%;
	margin : 5px auto;
	padding-bottom : 260px;
}
#score_point{
	color : #333;
	font-weight : bold;
	font-size : 400%;
}

#score_board{
	margin:10px auto;
	width : 80%;
	border : 3px solid #0CF;
	border-spacing : 0px;
}
#score_board th{
	color : #FFF;
	font-weight : normal;
	background-color : #666;
	border-top : 1px solid #777;
	border-left : 1px solid #777;
	border-right : 1px solid #555;
	border-bottom : 1px solid #555;
	padding : 2px;
}
#score_board td{
	padding : 2px;
	background-color:#EEE;
	border-top : 1px solid #FFF;
	border-left : 1px solid #FFF;
	border-right : 1px solid #DDD;
	border-bottom : 1px solid #DDD;
}

.extension_th{
	display : none;
}

.extension_first_td{
	display : none;
}

.extension_last_td{
	display : none;
}

#total_hit_first{
	width : 9%;
}

#total_score_first{
	width : 9%;
}

#control{
	display : table;
	width : 80%;
	margin : 20px auto;
}

#control_left{
	display : table-cell;
	width : 20%;
	text-align : center;
}

#control_right{
	display : table-cell;
	width : 60%;
	text-align : right;
	vertical-align : middle;
}

#first_team_info{
	display : table-cell;
	text-align : right;
	vertical-align : top;
	width : 30%;
}

#game_info{
	display : table-cell;
	text-align : center;
	vertical-align : top;
}

#last_team_info{
	display : table-cell;
	text-align : left;
	vertical-align : top;
	width : 30%;
}

#detail_message_list{
	width : 80%;
	margin : auto;
	overflow-y : scroll;
	text-align : left;
	height : 200px;
	background-color : #FFF;
	border : 1px solid #DDD;
	border-radius : 4px 4px;
}

#inventory{
	display : none;
	width : 80%;
	margin : auto;
	overflow-y : scroll;
	text-align : left;
	height : 200px;
	background-color : #FFF;
	border : 1px solid #DDD;
	border-radius : 4px 4px;
}

.detail_message_record{
	border-bottom : 1px solid #DDD;
	padding : 10px;
}
.detail_message_record:last-child{
	border-bottom : 0px;
}
.player_message{
	background-color : #EEF9FF;
}

/* 驕ｸ謇区ュ蝣ｱ */
.team_name{
	color : #069;
	font-size : 120%;
	text-align : center;
	padding : 20px 0px 10px 0px;
}

.team_list_header{
	display : table;
	width : 100%;
}

.team_list_th{
	display : table-cell;
	text-align : center;
	padding : 5px;
	vertical-align : middle;
	background-color : #666;
	border-top : 1px solid #777;
	border-left : 1px solid #777;
	border-right : 1px solid #555;
	border-bottom : 1px solid #555;
	color : #FFF;
}
.team_list_th:first-child{
	border-top-left-radius: 4px 4px;
}
.team_list_th:last-child{
	border-top-right-radius: 4px 4px;
}

.team_list_record{
	display : table;
	width : 100%;
}

.team_list_td{
	display : table-cell;
	vertical-align : middle;
	text-align : center;
	background-color:#EEE;
	border-top : 1px solid #FFF;
	border-left : 1px solid #FFF;
	border-right : 1px solid #DDD;
	border-bottom : 1px solid #DDD;
	height : 40px;
}

.opponent{
	color : #FFF;
	background-color:#666;
	border-top : 1px solid #777;
	border-left : 1px solid #777;
	border-right : 1px solid #555;
	border-bottom : 1px solid #555;
}

.boss_opponent{
	color : #FFF;
	background-color:#866;
	border-top : 1px solid #977;
	border-left : 1px solid #977;
	border-right : 1px solid #755;
	border-bottom : 1px solid #755;
}

.trade{
	background-color : #F6F6F6;
}

.development{
	background-color : #FFF6F6;
}

.ondrag{
	background-color : #E4E4E4;
}

.team_list_record:last-child .team_list_td:first-child{
	border-bottom-left-radius: 4px 4px;
}
.team_list_record:last-child .team_list_td:last-child{
	border-bottom-right-radius: 4px 4px;
}

.cell_order{
	width : 10%;
}

.cell_name{
	width : 50%;
}

.cell_avg{
	width : 20%;
}

.cell_risp{
	
}

/* 閭ｽ蜉帛髄荳翫お繝輔ぉ繧ｯ繝� */
.effect_increase{
	position : absolute;
	color : #090;
	font-weight : bold;
	text-align : center;
}

/* 繧ｳ繧､繝ｳ蜿門ｾ励お繝輔ぉ繧ｯ繝� */
.effect_coin{
	position : absolute;
	color : #FC0;
	font-weight : bold;
	text-align : center;
}

/* 繝輔ャ繧ｿ */
#footer{
	position:absolute;
	overflow : auto;
	width : 100%;
	height:260px;
	background-color : #DDD;
	bottom : 0px;
}

#footer_hide_button{
	position : absolute;
	width : 60px;
	top : 5px;
	left : 50%;
	margin-left : -30px;
	text-align : center;
	cursor : pointer;
}

#footer_hide_button:hover{
	background-color : #CCC;
}

#footer_show_button{
	display : none;
	position : absolute;
	width : 60px;
	bottom : 30px;
	left : 50%;
	margin-left : -30px;
	text-align : center;
	cursor : pointer;
}

#footer_show_button:hover{
	background-color : #EEE;
}

.result_list{
	float : left;
	overflow : auto;
	padding : 20px 10px 10px 10px;
}
.result_caption{
	font-weight : bold;
	padding-bottom : 10px;
}

.result_record{
	padding : 3px 2px 2px 10px;
	white-space : nowrap;
	border-bottom : 1px solid #999;
}

.result_record:last-child{
	border-bottom : 0px;
}

.result_achievement{
	display : inline-block;
	margin : 5px 0px 0px 5px;
	width : 37px;
	height : 37px;
	background-color : #CCC;
	border-bottom : 1px solid #999;
	border-radius : 4px 4px;
	background-image : url("./img/achievement_lock.png");
	background-position : center;
	background-repeat : no-repeat;
	cursor : pointer;
}

.result_achievement:hover{
	background-color : #EEE;
}

.unlock{
	background-color : #EEE;
}

.unlock:hover{
	background-color : #FFF;
}

#ad{
	float : right;
	vertical-align : top;
	padding : 2px;
}

#tweet_button{
	position:absolute;
	left : 10px;
	bottom : 2px;
}

#copyright{
	z-index : 120;
	position:absolute;
	width : 200px;
	margin-left: -100px;
	left : 50%;
	bottom : 2px;
	text-align : center;
	vertical-align : bottom;
}

#copyright a{
	color : #333;
	text-decoration : none;
}

/* 繝懊ち繝ｳ */
button{
	color : #000;
	background-color : #CF0;
	border : 0px;
	border-bottom : 4px solid #9C0;
	border-radius: 3px 3px;
	padding : 5px 10px;
}

button:hover{
	cursor : pointer;
	color : #FFF;
	background-color : #9C0;
	border-bottom : 4px solid #690;
}

button:active{
	color : #999;
	background-color : #690;
}

button:disabled{
	cursor : default;
	color : #555;
	background-color : #999;
	border-bottom : 4px solid #666;
}

.sub_button{
	font-size : 120%;
	padding : 20px 5px;
	background-color : #0CF;
	border-bottom : 4px solid #09C;
}

.sub_button:hover{
	cursor : pointer;
	color : #FFF;
	background-color : #09C;
	border-bottom : 4px solid #069;
}

.sub_button:active{
	color : #999;
	background-color : #069;
}

.sub_button:disabled{
	cursor : default;
	color : #555;
	background-color : #999;
	border-bottom : 4px solid #666;
}

.item_button{
	color : #000;
	margin : 2px;
	padding : 15px;
	background-color : #FF0;
	border : 1px solid #FC0;
	border-bottom-width : 4px;
}

.item_button:hover{
	cursor : pointer;
	color : #960;
	background-color : #FC0;
	border : 1px solid #C90;
	border-bottom-width : 4px;
}

.item_button:active{
	color : #000;
	background-color : #C90;
}

.item_button:disabled{
	cursor : default;
	color : #999;
	background-color : #CCC;
	border : 1px solid #999;
	border-bottom-width : 4px;
}

.twitter{
	background-image : url("./img/twitter.png");
	background-position : center;
	background-repeat : no-repeat;
}

label{
	cursor : pointer;
}